* {
    margin: 0;
}
body {
    background-image: url(truckBoi.jpg);
    background-color: #023d8ab9;
    background-blend-mode:multiply;
}
a {
    color: black;
}
header {
    padding: 10px 15px;
    display:flex;
    justify-content: space-around;
    align-items: center;   
    background-color: rgb(49, 125, 210);
}
.logo {
    height: 50px;
}